/*CSS for Assignment 2*/
@media only screen and (min-width: 960px) {
#container {
	width: 960px;
    }
}
/* general page style*/
#container {
	margin: 0 auto 24px auto;
	background: #fff;
	border: thick solid #E7E7E7;
	padding: 0 0 50% 0;
}

body{
	background:#D0D0D0;
	height:100%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

h1, h2 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #D0D0D0, 0 0 5px darkblue;
	font-size:3em;
	text-align: center;
}

/* center tables*/
table{
    margin-left:auto; 
    margin-right:auto;
    padding: 2% 0 5% 0;
    
}
/* style for buttons*/
.right{
	float: right;
	text-decoration: none;
	margin: 0 33% 0 0;
}
.left {
	float: left;
	margin: 0 0 0 33%;
}
a {
	text-decoration: none;
}

/*homepage Styling*/
.title{
	text-align: center;
}
.entry{
	text-align: center;
	font-size: 2em;
}


.manager{
	width: 25%;
	margin-left:auto; 
    margin-right:auto;

}
.managerH {
	display: inline;
	text-align: center;
}
.managerP{
	display: inline;
	text-align: center;
}


.center{
	width:50%; 
    margin: 0 auto;
    text-align:center;
}
.bucket{	
	width: 40%;
	margin: 0 auto;
}
input{
	width:100%

}


/* navigation style*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: grey;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: grey}

.dropdown:hover .dropdown-content {
    display: block;
}
.add{
	width:100%;

}
